/* #Customization
================================================= */
html {
    background: url(/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    margin: 20px 60px;
}
.content { 
    margin-top: 50px;
}

body {
    font: 16px/1.5 Arial;
}
nav {
    position: fixed;
    width: 400px;
}

