
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Andrew D. Wong</title>
	<meta name="description" content="Andrew D. Wong's Homepage">
	<meta name="author" content="Andrew D. Wong">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
    <!--
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

    <div class="container">
        <div class="seven columns sidebar">
            <nav>
                <h1>Andrew D. Wong</h1>
                <p>
                I'm a full-time student from Westchester, New York studying at the <a href="http://rochester.edu">University of Rochester</a>. In my free time I'm an amateur photographer, a college ultimate frisbee player, and a terrible cook.
                </p>
                <p>
                I've worked in New York, studied in Shanghai, and am always searching for new adventures.
                </p>
                <div id="social-media">
                    <ul>
                        <li><a href="http://facebook.com/andrewdwong">Facebook</a></li>
                        <li><a href="http://twitter.com/andrewdwong">Twitter</a></li>
                        <li><a href="http://linkedin.com/pub/andrew-d-wong/17/a8a/712">LinkedIn</a></li>
                        <li><a href="http://github.com/andrewwong1221">Github</a></li>
                        <li><a href="http://rochack.github.com/">RocHack</a></li>
                        <li><a href="http://news.ycombinator.org/user?id=wonginator1221">Hacker News</a></li>
                    </ul>
                </div>
            </nav>
            &nbsp; <!-- needed to prevent breaking nav -->
        </div>
        <div class="eight columns offset-by-one content">
        {{ content }}
        </div>
    </div>
    <!-- container -->


<!-- End Document
================================================== -->
<!-- JavaScript
================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.andrewdwong.com/piwik/" : "http://stats.andrewdwong.com/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.andrewdwong.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</html>
</body>
</html>
